     .container{
        background-color: rgb(132, 235, 154);
        display: flex;
        justify-content:center ;
        align-items: flex-end;
        padding: 75%;
        gap: 70px;
     }

.Alunos do curso de programação{
   background-color: blueviolet ;
   display: flex;
   justify-content: right;
   align-items: normal;
   padding-left: 50%;
   gap: 3px; 
}
*{
   margin: 4px;
   padding: 17%;
   box-sizing: content-box;
}
body{
   font-family: 'Times New Roman', Times, serif;
}
header{
   display: flex
   justify-content inherit;
   align-items:center
   border-bottom baseline
}
.content{
   width: 200px; 
   height: 300px;
   margin: 10px;
   background-color: rgb(89, 185, 153);
}
 .footer{
   padding: 20px;
   text-align: center;
   color: rgb(19, 230, 230);
   background-color: black;
   height: 100px;
 }